<div class="container ">
    <div class="row mt-5">
        <div class="col col-6 offset-3">
            <div class="card">
                <div class="card-header text-center">
                    Sign In
                </div>
                <div class="card-body form">
                    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
                        <br>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="Enter Email" ngModel required />
                        </div>
                        <br>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Enter password" ngModel required />
                            <!-- <small id="emailHelp" class="form-text text-muted">Minimum length of the password should be 6 or more</small> -->
                        </div>
                        <br>
                        <div class="text-center">
                            <button class="btn btn-primary " type="submit">
                                Sign In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>